body {
	background-image: url('img/meatun.JPEG'); 
	border-top: 5px solid black; 
	border-bottom: 5px solid black; 
	border-bottom: 5px solid black;
}


h1 {
	font-family: cursive;
	color: black;
	text-align: center;
	position: bottom; 
	

}

h2 {
	color: black;
	text-align: center;
	font-size: 30px;
}

#startbutton {
	position: relative;
	text-align: center;
	line-height: 1cm;
}
#contactbutton {
	position: relative;
	text-align: center;
	line-height: 1cm;
}
#titleimg {
	float: left;
	height: 30px;
	position: relative;
	text-align: center;
	top:5px
}
#startbar {
	border: 2px black;
	background-color: black;
	text-align: center;
	height: 40px;
	width: 100px;
	position: relative;
	left: 575px;
}
a {
	padding: 14px;
	text-align: center;
}
a, .startbar {
		color: white;
		text-align: center;
}
