h1 {
	color: black;
	text-align: center;
	font-size: 40px;
}
h2 {
	color: blue;
	text-align: center;
	font-size: 30px;
}

h3 {
	color: orange;
	text-align: center;
	font-size: 30px;
}

img-hs {
	width: 600px;
	background-image: url(image/mocktrial.JPG);
	background-size: contain;
	background-repeat: no-repeat;
}

p {
	text-align: justify;
}

body {
	background-color: #e5e1ae;
}
#homebutton {
	position: relative;
	line-height: 1cm;
}
#contactbutton {
	position: relative;
	line-height: 1cm;
}
#titleimg {
	float: left;
	height: 30px;
	position: relative;
	top:5px
}
#titlebar {
	border: 2px solid grey;
	background-color: grey;
	height: 40px;
}
a {
	padding: 14px;
}
a, .titlebar {
		color: white;
}
