h1 {
	color: navy;
	text-align: center;
	font-size: 40px;
}
h2 {
	color: maroon;
	text-align: center;
	font-size: 30px;
}
p {
	text-align: justify;
}
body {
	background-color: #FFDAB9;
}
#homebutton {
	position: relative;
	line-height: 1cm;
}
#contactbutton {
	position: relative;
	line-height: 1cm;
}
#titleimg {
	float: left;
	height: 30px;
	position: relative;
	top:5px
}
#titlebar {
	border: 2px solid: #FFDAB9;
	background-color: #FFDAB9;
	height: 40px;
}
a {
	padding: 14px;
}
a, .titlebar {
		color: white;
}
